@import "./variables.scss";
@import "./bootstrap.scss";

body{
    background-color:white;
    margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.firstImp{
    height:500px;
    width:100%;
    display:flex;
    flex-direction:row;
   overflow:hidden;
   margin-top:100px;
   background-color:none;
   

  

}
.navbrand{
width:50px !important;

}
Navbar{
    width:100% !important;
   }
nav{
    width:100% !important;
}

.foot_det{
   width: 100%;
   height:auto;
  
   background-color:#32BA86;
}
.sub_footer{
    height: 48px;
}
.ftBox{
    background-color: red;
    height: 300px;
    width: 100%;
    .ft_img{
height:200px;
width:200px;
    }
}
.accordionContainer{
    height:700px
}
.details{
    margin-top:150px;
}
.about_det{
    width: 100%;
    height:auto;
   margin-top:100px;
    background-color:none;
 }
 .newsCon{
    height:auto;
 }
 .cont{
    width:55%;}
 .newsBox{
    width:auto;
    height:400px;
   
 }
.howtoPic{
height:500px;
}


 .service_body{
margin-top: 280px;
 }
 .newsBox::-webkit-scrollbar{
    width: 12px;
}
.newsBox::-webkit-scrollbar-track {
   box-shadow: #6d7175;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.newsBox::-webkit-scrollbar-thumb {
    box-shadow: #E3C67F;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(222,189,106); 
    border-radius: 5px;
}
.newsBox_wider::-webkit-scrollbar{
    width: 12px;
}
.newsBox_wider::-webkit-scrollbar-track {
   box-shadow: #6d7175;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.newsBox_wider::-webkit-scrollbar-thumb {
    box-shadow: #E3C67F;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(222,189,106); 
    border-radius: 5px;
}

.terms{
    margin-left: 30px;
   border-left-color: #262626;
   border-left-style: solid;
    width: 95%;
    margin-top: 100px;
}
.errorPage{
    margin-top:350px;
    margin-bottom:350px;
    margin-left:40%;
}
.jobListing{
    height:170px;

}
.jobListing:hover{
    background-color:#E3C67F;
}
.jobs{
    margin-top:200px;
    width:90%;
    height:500px;
}
.jobTitle{
    margin-top:200px;
}
.job_listings{
    margin-top:150px;
    
}
.wrapper_job_dit {
    margin-top: 0px;
	position: relative;
	width: 92%;
	height: auto;
	overflow: hidden;
	display: flex;
	
	display: flex;
    flex-direction: row;
	padding: 1rem 4rem;
    margin-left: 50px;
}
.job_pin{
    padding-top:10px;
    width: 252px;
    height:240px;
   
    display: flex;
    flex-direction: column;
    

}
.form_btn{
    width: 73%;
    height: 40px;
    background-color: #32BA86;
    margin-bottom: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #262626;
   
}
.jobApp{
    height:700px;
    margin-top:100px;
}

