$equbGold:#E3C67F;

$equbGreen:#32BA86;
$body-bg: #000;
//navbar
$navbar-height:300px;
// Misc

$box-shadow : 0 0 50px rgba(0, 0, 0, 0.25);

// Typography
$font-family-sans-serif: 'Source Sans Pro', sans-serif;

// Button
$btn-border-radius: 0;
$btn-border-width: 2px;
$btn-font-weight: bold;